In [45]:
list=[]
n=int(input("enter a value"))
for i in range(n): 
     ele=(input("enter a value:"))
     list.append(ele)
     print(list)
first=list[0]
list[0]=list[n-1]
list[n-1]=first
print(list)

enter a value 5
enter a value: a

['a']

enter a value: b

['a', 'b']

enter a value: c

['a', 'b', 'c']

enter a value: d

['a', 'b', 'c', 'd']

enter a value: e

['a', 'b', 'c', 'd', 'e']
['e', 'b', 'c', 'd', 'a']

In [3]:
list=[]
n=int(input("enter a number"))
for i in range(n):
    ele=int(input("enter a number"))
    list.append(ele)
    print(list)
second=list[1]
list[1]=list[n-2]
list[n-2]=second
third=list[2]
list[2]=list[n-3]
list[n-3]=third
print(list)

enter a number 8
enter a number 89

[89]

enter a number 98

[89, 98]

enter a number 78

[89, 98, 78]

enter a number 45

[89, 98, 78, 45]

enter a number 34

[89, 98, 78, 45, 34]

enter a number 23

[89, 98, 78, 45, 34, 23]

enter a number 12

[89, 98, 78, 45, 34, 23, 12]

enter a number 16

[89, 98, 78, 45, 34, 23, 12, 16]
[89, 12, 23, 45, 34, 78, 98, 16]

In [5]:
list=[1,32,34,43,344,45,26]
print(len(list))

7

In [19]:
list=[]
for i in range(2):
    ele=int(input("enter a number"))
    list.append(ele)
    print(list)
if(list[0]>list[1]):
    print(f"{list[0]} is max")
else:
    print(f"{list[1]} is max")

enter a number 45

[45]

enter a number 67

[45, 67]
67 is max

In [45]:
list=[2,3,45,4,7]
i=67
if i in list:
    print("exist")
else:
      print("not exist ")

not exist

In [53]:
list=[23,34,67,78,89]
list.clear()
print(list)

[]

In [63]:
list=[34,23,12,78,31]
list.sort()
list.reverse()
print(list)

[78, 34, 31, 23, 12]

In [79]:
list=[23,34,45,56,67]
list1=list.copy()
print(list1)

[23, 34, 45, 56, 67]

In [23]:
for i in range(0,5):
    s = ""
    for j in range(5,i,-1):
         s+="*"
    print(s)

*****
****
***
**
*

In [3]:
print(type(range(3)))

<class 'range'>

In [7]:
i=8
x=f"hello {'hi'}"
print(x)

hello hi

In [15]:
for i in range(3):
    print(i)
    i=10

0
1
2

In [19]:
for i in [1,2,3,4,{k}]:
    print(i)
    i=10

NameError: name 'k' is not defined

In [1]:
 li = [1,3,2,4,5,7,9]

In [3]:
li.append(2)

In [5]:
li

[1, 3, 2, 4, 5, 7, 9, 2]

In [11]:
li.insert(0,22)

In [13]:
li

[22, 1, 3, 2, 4, 5, 7, 9, 2]

In [15]:
len(li)

9

## Removing and deleting
<li>we will learn to remove and delete items of a list</li>

In [26]:
li

[22, 1, 3, 2, 4, 5, 7, 9, 2]

In [28]:
li.remove(1)
print(li)

[22, 3, 2, 4, 5, 7, 9, 2]

In [30]:
li.remove(1)

ValueError: list.remove(x): x not in list

In [32]:
li.remove(2)
li

[22, 3, 4, 5, 7, 9, 2]

In [34]:
li.pop()
li

[22, 3, 4, 5, 7, 9]

In [36]:
li.pop(0)
li

[3, 4, 5, 7, 9]

In [38]:
del li[1:3]
print(li)

[3, 7, 9]

In [40]:
li.insert(0,8)
li.insert(3,2)
li

[8, 3, 7, 2, 9]

In [42]:
li.sort()
li

[2, 3, 7, 8, 9]

In [44]:
print(li[3:])

[8, 9]

### 
string slicing, follows 3 steps - start : stop : steps
but stop will always be stop - 1

In [47]:
li

[2, 3, 7, 8, 9]

In [49]:
print(li[::-1])

[9, 8, 7, 3, 2]

In [53]:
li.reverse()
li

[2, 3, 7, 8, 9]

In [61]:
print(li[0::2])

[2, 7, 9]

In [63]:
li

[2, 3, 7, 8, 9]

In [65]:
li.extend([10,11,3,6,7])

In [67]:
li

[2, 3, 7, 8, 9, 10, 11, 3, 6, 7]

## Tuple

In [70]:
my_tup = (1,2,3,4)

## Dictionary

In [73]:
my_dict = {"name":"ankur","age":21}

In [75]:
my_dict

{'name': 'ankur', 'age': 21}

In [79]:
my_dict["loc"] = "NIT"

In [83]:
list(my_dict.keys())

['name', 'age', 'loc']

In [85]:
my_dict.items()

dict_items([('name', 'ankur'), ('age', 21), ('loc', 'NIT')])

In [89]:
for key,value in my_dict.items():
    print(key,value)

name ankur
age 21
loc NIT

In [91]:
set1 = {5,6,1,8,2,6}

In [93]:
print(set1)

{1, 2, 5, 6, 8}

In [95]:
set1.remove(2)
set1

{1, 5, 6, 8}

In [97]:
set1.remove(2)

KeyError: 2

In [99]:
set1.discard(2)

In [101]:
age = 20
status = "adult" if age>= 18 else "minor"
print(status)

adult

In [1]:
8

8

In [3]:
import pandas as pd
# Create a DataFrame
data={
    'Name':['Alice','Bob','Charlie','David','Eve'],
    'Age':[25,32,45,28,30],
    'Salary':[50000,62000,58000,60000,65000]
}
df=Pd.DataFrame(data)

# Display the DataFrame
print("DataFrame:")
print(df)

# Apply aggregation functions

NameError: name 'Pd' is not defined