In [7]:
#Q1
my_name = "Ankur" 
my_age = 22
print(my_name)
print(my_age)

Ankur
22

In [11]:
#Q2 
a=10
b=10.5
c="hello"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [15]:
#Q3
my_list=[1,2,3,4]
my_list.append(5)
print(my_list)

[1, 2, 3, 4, 5]

In [25]:
#Q4
my_tuple=(10,20,30)
x=my_tuple[0]
y=my_tuple[1]
z=my_tuple[2]
print(x)
print(y)
print(z)

10
20
30

In [27]:
#Q5
first_name="Ankur"
last_name="raj"
full_name="Ankur"+" "+"raj"
print(full_name)

Ankur raj

In [51]:
#Q6
student={
    "name":"Alice",
    "age":20,
    "grade":"A",
}
new_dict={"grade":"A+"}
student.update(new_dict)
print(student)

{'name': 'Alice', 'age': 20, 'grade': 'A+'}

In [53]:
#Q7
my_set={1,2,3,4}
my_set.add(5)
my_set.remove(2)
print(my_set)

{1, 3, 4, 5}

In [55]:
#Q8

In [61]:
#Q9
a=True
b=False
c=a and b

print(c)

False

In [77]:
#Q10
numbers=[10,20,30,40,50]
numbers[0:3]#list slicing

[10, 20, 30]

In [122]:
#Q11
num1=int(input("enter a number:"))
num2=int(input("enter a number:"))

print("sum=",num1+num2)
print("subtract=",num1-num2)
print("multiply=",num1*num2)
print("divide=",num1/num2)
print("modulo=",num1%num2)

enter a number: 54
enter a number: 27

sum= 81
subtract= 27
multiply= 1458
divide= 2.0
modulo= 0

In [130]:
#Q12
a=int(input("enter a number"))
b=int(input("enter a number"))
print(a>b)
print(a<b)
print(a==b)

enter a number 12
enter a number 13

False
True
False

In [151]:
#Q13
x = 10
x+=5
print(x)
y=15
y-=5
print(y)
z=20
z*=5
print(z)
w=25
w/=5
print(w)

15
10
100
5.0

In [153]:
#Q14
a=True
b=False
c= a and b
d= a or b
print(c)

print(d)

False
True

In [163]:
Q15
a=5
b=10
c=a&b
d=a|b
e=a^b
f=~a
g=a>>b
h=a<<b
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

0
15
15
-6
0
5120

In [5]:
#Q16
numbers=[1,2,3,4,5]
print(5 in numbers)
print(2  not in numbers)

True
False

In [17]:
#Q17
a=7
b=10
sum=a+b
print(sum)
if(sum>10)and(sum<20):
    print("thank you")

17
thank you

In [19]:
#Q18
a=5
b=4
c=8
d=3
e=5
f=a*b/c%d+e
print(f)

7.5

In [36]:
#Q19
a=int(input("enter a number:"))
b=int(input("enter a number:"))
if(a>b):
    print(a)
else:
    print(b)

enter a number: 34
enter a number: 54

54

In [ ]:
#Q20

In [5]:
#Q21
sum=0
for i in range(1,11):
   sum +=i
print(sum)

55

In [6]:
#Q22
sum=0
i=1
while (i<=10):
    sum +=i
    i += 1
print(sum)

55

In [10]:
#Q23
# by while loop
n=int(input("enter a number"))
factorial=1
i=1
while(i<=n):
    factorial *=i
    i +=1
print(factorial)

enter a number 5

120

In [14]:
#by for loop
n=int(input("enter a number"))
factorial=1
for i in range(1,n+1):
    factorial *=i
print(factorial)

enter a number 5

120

In [11]:
# Q33 input a list of ten numbers from the user and sort them in ascending order using the bubble sort?
list=[]
for i in range(10):
    num=int(input("enter a number"))
    list.append(num)
print(list)
for k in range(9):
    for j in range (9-k):
        if list[j]>list[j+1]:
            # list[j],list[j+1]=list[j+1],list[j]
           t=list[j]
           list[j]=list[j+1]
           list[j+1]=t
print(list)

enter a number 98
enter a number 56
enter a number 32
enter a number 45
enter a number 55
enter a number 87
enter a number 98
enter a number 11
enter a number 77
enter a number 41

[98, 56, 32, 45, 55, 87, 98, 11, 77, 41]
[11, 32, 41, 45, 55, 56, 77, 87, 98, 98]

In [ ]:
#Q24
list=[]
n=int(input("enter a number"))
for i in range(n):
    ele=int(input("enter a number"))
    list.append(ele)
print(list)
second=list[1]
list[1]=list[n-2]
list[n-2]=second
third=list[2]
list[2]=list[n-3]
list[n-3]=third
print(list)

enter a number 10
enter a number 4
enter a number 6
enter a number 89
enter a number 90